NODE_TLS_REJECT_UNAUTHORIZED=0
USE_HTTPS=true
ENABLE_HEALTHCHECK=false
CERT_LOCATION=/etc/ssl/certs
CORS_ORIGIN=*
CORS_METHODS=GET,PUT,POST,DELETE,OPTIONS
CORS_HEADERS=Content-Type,Authorization,Content-Length,X-Requested-With
SSL_CERT_PATH=/etc/ssl/certs/ssl-cert-snakeoil.pem
SSL_KEY_PATH=/etc/ssl/certs/ssl-cert-snakeoil.key

APP_NAME=daemon-service
APP_ENV=development
APP_TLS_ENABLE=false
APP_PROTOCOL=https
APP_HOST=localhost
APP_PORT=3000
APP_URL=http://localhost:3000
TZ=Asia/Dhaka
AUTH_CLIENTS='{"mygp": "SSyrDxcYd81XWD1Tqk42"}'

LOG_LEVEL=debug
LOG_LOCATION=/usr/src/app/src/storage/logs/daemon-service.log
LOG_MAX_KEEP=14d
LOG_MAX_SIZE=100m
LOG_FILE_NAME=app-%DATE%.log
LOG_DIR_NAME=logs
LOG_DIR_PATH=src/storage/logs
LOG_DATE_PATTERN=YYYY-MM-DD
LOG_DATE_FORMAT=YYYY-MM-DD HH:mm:ss

RABBITMQ_HOST=common-rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_TLS_ENABLE=false
RABBITMQ_TLS_CA_FILE=
RABBITMQ_TLS_CERT_FILE=
RABBITMQ_TLS_PRIVATE_KEY=
RABBITMQ_TLS_REJECT_UNAUTHORISED=false
RABBITMQ_PREFETCH_COUNT=100
RABBITMQ_HEARTBEAT_INTERVAL=60
RABBITMQ_DELIVERY_LIMIT=1
RABBITMQ_MESSAGE_TTL=10000
CHANNEL_QUEUE_NAME=SMS

SMPP_TLS_ENABLE=false
SMPP_PROTOCOL=smpp
SMPP_HOST=smpp_server
SMPP_PORT=2775
SMPP_SYSTEM_ID=smppclient1
SMPP_SYSTEM_PASSWORD=password
SMPP_AUTO_ENQUIRE_LINK_PERIOD=1000
SMPP_INTERFACE_VERSION=1
SMPP_SYSTEM_TYPE=380666000600
SMPP_ADDRESS_RANGE=380666000600
SMPP_ADDR_TON=1
SMPP_ADDR_NPI=1
SMPP_SOURCE_ADDR_TON=1
SMPP_SOURCE_ADDR_NPI=1
SMPP_DEST_ADDR_TON=1
SMPP_DEST_ADDR_NPI=1
SMPP_HEARTBEAT_INTERVAL=60000

DPDP_ENABLED=false
DPDP_PROXY_ENABLED=false
DPDP_PROXY_HOST=
DPDP_PROXY_PORT=
DPDP_REQUEST_TIMEOUT=5
DPDP_HEADER_HOST=mygp-sms-stage.grameenphone.com
DPDP_HEADER_AUTHORIZATION_KEY=nm23s5zS8a
DPDP_HEADER_AUTHENTICATED_MSISDN=8801711092149
DPDP_SMS_BASE_URL=http://10.21.11.16:9154/
DPDP_SMS_BODY_ACCESS_KEY=bc1f7674345340a996b39ad3ae8c5374
DPDP_SMS_BODY_ACCESS_CHANNEL=MTSMS
DPDP_SMS_BODY_SERVICE_IDENTIFIER=PPU00021800044
DPDP_SMS_BODY_ACCESS_USER=gpcc
DPDP_SMS_BODY_ACCESS_PASSWORD=gpcc
DPDP_SMS_BODY_CHARGE_CODE=PPU0002180004422118106

LOG_STATUS_API=true
LOG_STATUS_RMQ=true
LOG_STATUS_DPDP=true